@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html{
    /* Se utiliza para dar efecto de deslizamiento cundo se da click en los link */
    scroll-behavior: smooth;
}

body{
    /* Esta configuración es para tener un fondo estático */
    background-image:url(../img/man-programming-on-a-computer.jpg);
    background-size:cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hidden{
    overflow: hidden;
}

.container-loader{
    height: 100vh;
    background-color: #1e2326;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.container-header header{
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.container-header header .logo a{
    font-family: 'Bungee';
    font-size: 25px;
    color: #EF3724;
    text-decoration: none;
}

.container-header header ul{
    display: flex;
    list-style: none;
}

.container-header header nav ul li a{
    text-align: none;
    color: white;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.container-header header nav ul li a:hover{
    color: #EF3724;
}

.nav-responsive{
    background-color: #EF3724;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION HOME */
.home{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)); 
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
}

.home .cont-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.home .cont-banner img{
    margin-top: 40px;
    display: block;
    width: 80%;
    /*margin: auto;*/
    
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

.home .cont-banner h1{
    margin-top: 40px;
    /*font-size: 20px;*/
    font-family: 'Bungee';
}

.home .cont-banner h2{
    font-size: 20px;
    font-weight: normal;
}

.net-circle{
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.net-circle:hover{
    color: #EF3724;
}

/* SECCION SOBRE MI */
.section-less-dark{
    background-color: #252a2e;
    color: white;
    padding: 50px 20px;
}

.cont-section{
    max-width: 1100px;
    margin: auto;
}

.header-text-section{
    font-size: 35px;
    font-family: 'Bungee';
    text-align: center;
    padding: 20px 0;
}

.cont-section p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.cont-section p span{
    color: #EF3724;
    font-weight: bold;
}

.rows{
    display: flex;
}

.columns{
    width: 50%;
    padding:  0 20px;
}

.title-column{
    font-size: 28px;
    font-family: 'Bungee';
    margin-bottom: 25px;
}

.list{
    list-style: none;
}

.list-li{
    margin: 12px 0;
}

.list-li b{
    display: inline-block;
    color: #EF3724;
    width: 130px;
}

.cont-interesting{
    display: flex;
    flex-wrap: wrap;
}

.interesting{
    width: 100px;
    height: 100px;
    background-color: #252a2e;
    border-radius: 10px;
    margin: 0 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.interesting:hover{
    background-color: #EF3724;
}

.interesting i{
    font-size: 30px;
    margin-bottom: 10px;
}

/* SECCION HABILIDADES */


.skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skill-progress{
    height: 8px; 
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.progress{
    height: 8px;
    background-color: #EF3724;
    position: absolute;
    top: 0;
    left: 0;
}

.skill-progress span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #EF3724;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/* Esto se mostrará de forma dinámica 
 Habilidades Técnicas*/

.javascript{
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0%{width: 0%;}
    100%{width: 60%;}
}

.htmlcss{
    width: 0;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 85%;}
}

.php{
    width: 0;
    animation: 2s php forwards;
}

@keyframes php {
    0%{width: 0%;}
    100%{width: 55%;}
}

.sql{
    width: 0;
    animation: 2s sql forwards;
}

@keyframes sql {
    0%{width: 0%;}
    100%{width: 73%;}
}

.odoo15{
    width: 0;
    animation: 2s odoo15 forwards;
}

@keyframes odoo15 {
    0%{width: 0%;}
    100%{width: 40%;}
}

.react{
    width: 0;
    animation: 2s react forwards;
}

@keyframes react {
    0%{width: 0%;}
    100%{width: 50%;}
}

.java{
    width: 0;
    animation: 2s java forwards;
}

@keyframes java {
    0%{width: 0%;}
    100%{width: 60%;}
}

/* Habilidades de diseño */

.photoshop{
    width: 0;
    animation: 2s photoshop forwards;
}

@keyframes photoshop {
    0%{width: 0%;}
    100%{width: 80%;}
}

.max-studio{
    width: 0;
    animation: 2s max-studio forwards;
}

@keyframes max-studio {
    0%{width: 0%;}
    100%{width: 58%;}
}

.c-logos{
    width: 0;
    animation: 2s c-logos forwards;
}

@keyframes c-logos {
    0%{width: 0%;}
    100%{width: 62%;}
}

.e-video{
    width: 0;
    animation: 2s e-video forwards;
}

@keyframes e-video {
    0%{width: 0%;}
    100%{width: 77%;}
}

/* SECCION CV */
.cv{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)); 
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
}

.cv .cont-section{
    padding: 20px;
    background-color: #1e2326;
    max-width: 80%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    border-radius: 40px;
}



.left{
    border-left: 2px solid #252a2e; 
}

.right{
    border-right: 2px solid #252a2e; 
}

.item{
    min-height: 255px;
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252a2e;
    position: relative;
}

.cv .rows .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.cv .rows .item .study{
    color: #EF3724;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.cv .rows .item .date{
    display: block;
    color: #EF3724;
    margin-bottom: 10px;
}

.cv .rows .item p{
    line-height: 24px;
}

.cv .rows .left{
    border-right: 2px solid #EF3724;
    margin-right: 20px;
}

.cv .rows .right{
    border-left: 2px solid #EF3724;
    margin-left: 20px;
}

.conect{
    height: 2px;
    background-color: #EF3724;
    width: 47px;
    position: absolute;
    top: 50%;
    z-index: 5;
}

.left-conect{
    right: -47px;
}

.right-conect{
    left: -47px;
}

.circle{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #EF3724;
    position: relative;
    bottom: 4px;
}

.left-circle{
    float: right;
}

.right-circle{
    float: left;
}

.tech{
    text-align: left;
}

.tech span{
    display: inline-block;
    box-sizing: border-box;
    background-color: #EF3724;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* SECCION PORTAFOLIO */
.section-dark{
    background-color: #1e2326;
    color: white;
    padding: 50px 20px;
}

 .section-dark h1{
    color: #343a40;
 }

 .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
 }

.proyect{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor:pointer;
 }

.proyect img{
    width: 100%;
    display: block;
    border-radius: 20px;
 }

.proyect .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(#EF3724, #f47e71);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
    border-radius: 20px;
 }

.proyect .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
    color: white;
 }

.proyect .overlay:hover{
    opacity: 0.8;
 }

.proyect .overlay:hover h3{
    margin-bottom: 0px;
 }

 /* SECCION CONTACTO */
 .contacts{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url('../img/cube-dark-texture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
    padding: 50px 20px;
}

.contacts .col{
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacts .rows img{
    margin-top: 40px;
    display: block;
    width: 80%;
    margin: auto;
    
}

.form-input{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252a2e;
    color: white;
    font-size: 18px; 
    transition: border-color .5s ease;
}

.no-valid{
    border: 2px solid #EF3724;
    
}

.alert{
    text-align: center;	
    background-color: #36c838;
    margin: auto;
    padding: 5px 30% 5px 30%;
}

.dangerAlert{
    text-align: center;
    background-color: #EF3724;
    align-items: center;
    padding: 5px 30% 5px 30%;
    position: absolute; 
}

.contacts #form textarea{
    max-width: 530px;
    min-height: 240px;
}



.anim-button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #EF3724;
    z-index: -1;
    transition: 1s;
}

.anim-button:hover .overlay{
    width: 100%;
}

.anim-button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    width: fit-content;
    display: block; 
    margin: 10px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: white;
    position: relative;
    text-decoration: none;
    z-index: 10;
}

/* FOOTER */
footer{
    background-color: #252a2e;
    color: white;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .network{
    margin-bottom: 20px;
}

footer .up{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #EF3724;
    color: white;
    position: absolute;
    left: 49%;
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/* RESPONSIVE */
@media screen and (max-width: 980px){
        
    nav{
        display: none;
    }

    .nav-responsive{
        display:none
    }

    nav.responsive{
        display:block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252a2e;
        width: 180px;
    } 

    nav.responsive ul{
        display: block !important;
    }

    nav.responsive ul li{
        padding: 10px 0;
    }

    .container-header header {
        position: relative;
    }

    .container-header header nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #252a2e;
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box;
    }

    .container-header header .nav-responsive {
        display: block;
    }

    .container-header header .nav-responsive:checked + nav ul {
        display: flex;
    }

    @media screen and (max-width: 400px){
        
        .rows{
            display: block;
            margin-right: auto;
        }

        .columns{
            width: 100%;
        }

        .skill-progress{
            width: 100%;
        }

        .cv .cont-section {
            max-width: 100%;
        }

        
        .gallery{
            display: block;
            width: 100%;
        }

        .proyect{
            max-width: 100%;
        }

        .proyect img{
            width: 100%;
        }

        .contacts .col{
            width: 100%;
        }

        .col textarea{
            min-width: 100%;
            
        }

        .conteiner-img{
            text-align: center;
            margin-top: 50px;
        }

        .conteiner-img img{
            margin: 0 auto;
            display: block;
            
        }

        footer .up{
            left: 45%;
        }
    }

}

